---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects | Yiming Li">

  <h1>Projects</h1>

  <p>Here are some things I've built.</p>

  <ul>
    <li>Graph Neural Network molecular prediction project</li>
    <li>Computer vision lab work (SIFT, RANSAC)</li>
    <li>Wildfire image classification CNN</li>
  </ul>

</BaseLayout>
