---
import "../styles/global.css";
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body>
    <div class="layout-container">
      <aside class="sidebar">
        <a href="/" class="logo-link">Yiming Li</a>

        <nav class="nav-links">
          <a href="/about" class={currentPath === "/about" ? "active" : ""}
            >about</a
          >
          <a
            href="/projects"
            class={currentPath === "/projects" ? "active" : ""}>works</a
          >
          <a href="/blog" class={currentPath === "/blog" ? "active" : ""}
            >blog</a
          >
          <a href="/contact" class={currentPath === "/contact" ? "active" : ""}
            >contact</a
          >
        </nav>
      </aside>

      <main class="main-content">
        <slot />

        <footer>Copyright &copy; 2026 Yiming Li. All Rights Reserved.</footer>
      </main>
    </div>
  </body>
</html>
